.app-container{

    margin-top: 130px;

}

.title{

    text-align: center;
    font-family: 'CHEDROS', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;

}

.subtitle{

    text-align: center;
    font-family: 'CHEDROS', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;

}